.container {
    background-color: --mantine-color-gray-0;
    border: 1px solid --mantine-color-gray-5;
    position: 'relative';

.title {
    color: --mantine-color-blue;
}
                                                }
